<%# this page displays all users, made with bootstrap element called "card" %>
<%# to get more info about cards see https://getbootstrap.com/docs/4.6/components/card/ %>

<h1 class="text-center pt-4 text-white">Just Bloggers</h1>

<%# main container that include all of the users %>
<div class="container">
  <%# iterate over users and show their info %>
  <% @users.each do |user| %>
    <div class="row justify-content-md-center">
      <div class="col-7 mt-4">
        <%# start of the card element %>
        <div class="card text-center shadow mb-5 rounded" id="window">
          <%# header of the card %>
          <div class="card-header font-italic">
            <%= link_to user.username, user, class: "text-white-50" %>
          </div>
          <%# card body with info about a user %>
          <div class="card-body">
            <%# displaying user's avatar with use of the created method gravatar_for %>
            <div class="container-fluid">
              <%= link_to gravatar_for(user, size: 100), user %>
            </div>
            <div class="text-center text-white py-2">
              <%= pluralize(user.articles.count, "article") %>
            </div>
            <%# buttons for showing and editing a user %>
            <%# "user" parameter transfer id of a user to the path %>
            <%= link_to 'View profile', user, class: "btn btn-secondary" %>
            <%# edit a user profile can only an owner of that profile, so compare a user with an owner %>
            <% if logged_in? && user == current_user %>
              <%= link_to 'Edit profile', edit_user_path(user), class: "btn btn-secondary" %>
            <% end %>
          </div>

          <%# card footer displays time when user was registered %>
          <%# relative time get by using method time_ago_in_words  %>
          <div class="card-footer text-white-50">
            <small> Joined <%= time_ago_in_words(user.created_at) %> ago </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

 <%# render page links in the view: %>
<div class="apple_pagination pb-4">
  <%= will_paginate @users, :container => false %>
</div>