<h1 class="text-center py-4 text-white"><%= @user.username %>'s profile</h1>

<%# displaying the user avatar with use of the created method gravatar_for %>
<div class="container-fluid">
  <%= gravatar_for @user, size: 200 %>
</div>

<%# edit a user profile can only an owner of that profile, so compare a user with an owner %>
<% if logged_in? && @user == current_user %>
  <div class="text-center pt-4">
    <%= link_to "Edit your profile", edit_user_path(@user), class:"btn btn-secondary" %>
  </div>
<% end %>

<h3 class="text-center pt-4 text-white">Articles</h3>

<%# displaying the user's articles by rendering page articles and sent to it the @user.articles parameter %>
<%= render 'articles/article' %>

 <%# render page links in the view: %>
<div class="apple_pagination pb-4">
  <%= will_paginate @articles, :container => false %>
</div>