<%# navigation bar created with Bootstrap 4 %>
<%# See information on https://getbootstrap.com/docs/4.6/components/navbar/ %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%# bar logog %>
  <%= link_to "JUST BLOG", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%# buttons that located on the right side of the bar %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Articles", articles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Categories", categories_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Users", users_path, class: "nav-link" %>
      </li>
      <%# when a user logged in %>
      <% if logged_in? %>
        <%# display dropdown element with username text %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <%# display Admin text also if the logged in user has that permission %>
            <%= "(Admin)" if current_user.admin? %> <%= current_user.username %>
          </a>
          <%# dropdown list %>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <%= link_to "Edit profile", edit_user_path(current_user), class: "dropdown-item text-white" %>
            <%= link_to "View profile", user_path(current_user), class: "dropdown-item text-white" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Sign Out", logout_path, class: "dropdown-item text-white", method: :delete %>
          </div>  
        </li>
      <% else %>
        <%# when a user not logged in display button of Sign In %>
        <li class="nav-item">
          <%= link_to "Sign In", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>