<!DOCTYPE html>
<html>
  <head>
    <title>JustBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%# show navigation bar at the top of the pages %>
    <%= render 'layouts/navigation' %>
    <%# show messages, if they are %>
    <%= render 'layouts/messages' %>
    <%# show content of a certain page %>
    <%= yield %>
    <%# show footer at the bottom of the pages %>
    <%= render 'layouts/footer' %>
  </body>
</html>
